body {
    font-family: Arial, sans-serif;
    /* background-color: rgb(19, 18, 18); */
    display: flex;
}

header{
    background-color:#121212;
height:100px;
width: 100%;
position:fixed;
top: 0;
opacity: 0.5px;
border-style: solid;
border-color: rgb(103, 102, 102);
border-width: 0 0 1px 0;
box-shadow: 2px 2px 3px white, ;
color: rgb(227, 220, 220);
text-align: center;
display: flex;
z-index:999;
}

img{
    width: 70px;
    height: 60px;
    position: relative;
    margin-top: 20px;
    left: 5px;
}
#headText{
    text-align: center;
    position: relative;
    display: inherit;
    left: 33%;
    padding-top: 15px;
}

#headText:hover{
  color: white;
}

#headerSearch{
    left: 50%;
    position: relative;
    background-color:white;
    color: black;
    height: 50px;
    top: 28px;
    border-radius: 30px;
    width: 300px;
    border-style: groove;
    border-color: rgb(239, 156, 54);
    padding: 20px;
    font-size: 30px;
}
#headerSearch:hover{
    border-style: groove;
    border-color:rgb(239, 156, 54);
    background-color: rgb(168, 114, 13);
}


/* #searchIcon{
    background-color: white;
} */
 #cart{
    position: relative;
    left:650px;
    top: 40px;
 }

 @keyframes shake {
    0% {
      transform: translate(0);
    }
    25% {
      transform: translate(-5px, 0);
    }
    50% {
      transform: translate(5px, 0);
    }
    75% {
      transform: translate(-5px, 0);
    }
    100% {
      transform: translate(0);
    }
  }

 #cart:hover{
    size: 70px;
    stroke: red;
    stroke-width: 3 ;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation: shake 0.3s 10;
 }

header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 770px;
    top: 25px;
  }
  
  header li {
    margin-right: 20px;
  }
  
  header a {
    color: #fff;
    text-decoration: none;
  }
  
  header a:hover {
    color: red;
    font-size: larger;
  }

  header a:active {
    color: orange;
    font-size: larger;
  }

  #searchIcon{
    position: relative;
    left: 45.5rem;
    top: 41px;
  }
  #searchIcon:hover{
    stroke: black;
  }
  

#container{
width: 77%;
margin-top: 150px;
display: flex;
column-gap: 10px;
flex-wrap: wrap;
row-gap: 50px;
position: absolute;
left: 11rem;
}
#child1{
    height: 400px;
    width: 350px;
    background-color: black;
    position: relative;
    left: 50px;
    top: 0;
    border-style: solid;
    border-color: rgb(103, 102, 102);
    border-width: 2px 2px 2px 2px;
    box-shadow: 2px 2px 3px rgb(32, 31, 31);
    border-radius: 30px 20px 0 30px;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    transition:ease-in-out 0.5s;
    
    }
    
    @keyframes shake {
      0% {
        transform: translate(0);
      }
      25% {
        transform: translate(-5px, 0);
      }
      50% {
        transform: translate(5px, 0);
      }
      75% {
        transform: translate(-5px, 0);
      }
      100% {
        transform: translate(0);
      }
    }
    
    #child1:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      animation: shake 0.5s 5;
    }

    #grandChild{
        height: 320px;
        width: 350px;
        background-color:white;
        position: inherit;
        flex-wrap: wrap;
        top: 0;
        border-radius: 8px 20px 0 30px;
        }

        #likeButton{
            position: absolute;
            top: 330px;
            left: 20px;
        }

             
        #likeButton:active{
            fill: red;
            stroke-width: 2px;
            animation: shake 0.5s 20;
        }
        
              
        #likeButton::after{
            fill: red;
        }

        #addComment{
            position: absolute;
            top: 360px;
            left: 13px;
            border-radius: 10px;
            height: 30px;
            width: 20rem;
            border: 0px;
            background-color: black;
            padding-left:0px;
            color: white;
            padding-left: 2px;
        }
        #addComment:active{
          border: 0px;
        }


        #postButton{
            position: absolute;
            top: 367px;
            left: 310px;
            stroke: #fff;
           }
            
        #postButton:active{
            fill: orangered;
            animation: shake 0.5s 10;
        }
        
     footer{
        text-align: center;
        height: 45px;
        left: 40%;
        
     }


     

  
 